body {
    font-family: "Playfair Display", serif;
    font-size: 20px;
    line-height: 27px;
    color: #2D2829;
    background-color: #FBEBEA;
}

/* Header style start */

.advantages {
    background-image: url(../img/berries.png);
    background-repeat:  no-repeat;
    background-position: left center;
}

.main-nav a {
    font-size: 13px;
    line-height: 16px;
    color: #2D2829;
    text-transform: uppercase;
    text-decoration: none;
}

.site-navigation-item a.active {
    color: #f50049;
}

.main-nav .phone {
    font-weight: bold;
}

/* Header style end */

/* Main style start */
/* Main-section promo start */

.promo h1 {
    font-size: 78px;
    line-height: 70px;
}

.promo p {
    font-size: 40px;
    line-height: 53px;
    font-style: italic;
}

.button {
    font-size: 13px;
    line-height: 27px;
    font-weight: bold;
    color: #FFFFFF;

    text-decoration: none;
    text-transform: uppercase;

    background-color: #F50049;
}

.features {
    font-size: 14px;
    line-height: 18px;
}

/* Main-section promo end */
/* Main-section catalog start */

.catalog h2 {
    font-size: 40px;
    line-height: 66px;
}

.catalog h3 {
    font-size: 24px;
    line-height: 32px;
}

.catalog a {
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    color: #2D2829;
}

.social-item {
    background-color: #FFFFFF;
}

/* Main-section catalog end */
/* Main-section reviews start */

.reviews h2 {
    font-size: 40px;
    line-height: 66px;
    text-align: center;
}

.reviews h3 {
    font-size: 27px;
    line-height: 36px;
}

.reviews .review-info {
    font-size: 25px;
    line-height: 33px;
}

/* Main-section reviews end */
/* Main-section advantages start */

.advantages h2 {
    font-size: 40px;
    line-height: 66px;
    text-align: center;
}

.advantages-text {
    font-size: 30px;
    line-height: 40px;
    font-style: italic;
    text-align: center;
}

.advantages-list h3 {
    font-size: 20px;
}

/* Main-section advantages end */
/* Main-section contacts start */

.contacts h2 {
    font-size: 40px;
    line-height: 66px;
}

.contact-item h3 {
    font-size: 20px;
    line-height: 27px;
}

.contact-item a {
    color: #2D2829;
    text-decoration: none;
}

.contact-item address {
    font-style: normal;
}
/* Main-section contacts end */
/* Main end */

/* Footer start */

.main-footer {
    color: #888888;
    background-color: #E8E8E8;
}

.footer-navigation-item a {
    color: #2D2829;
    text-decoration: none;
    font-size: 13px;
    line-height: 16px;
}

.main-footer p {
    text-transform: uppercase;
    font-size: 13px;
    line-height: 16px;
}

/* Footer end */