/* Basic style */
html {
  height: 100%;
}

body {
  display: grid;
  min-height: 100%;
  margin: 0;

  font-family: "Playfair Display", serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  line-height: 27px;
  color: #2d2829;
}

.page-container {
  display: grid;
  grid-template-rows:
    min-content
    1fr
    min-content;
  grid-template-areas:
    "header"
    "main"
    "footer";

  width: 1368px;
  margin: 0 auto;

  background-color: #fbebea;
}

.list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.link {
  font-size: 13px;
  line-height: 16px;
  color: inherit;
  text-decoration-line: none;

  transition: opacity 0.3s;
}

.link-button {
  display: inline-block;
  box-sizing: border-box;
  padding: 12px;

  line-height: 27px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;

  background-color: #f50049;
  border-radius: 25px;

  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}

.link:not(.link-current):hover,
.link:not(.link-current):focus {
  opacity: 0.7;
}

.link:not(.link-current):active {
  opacity: 0.3;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title-main {
  margin: 0;

  font-size: 78px;
  line-height: 70px;
}

.title-middle {
  margin: 0;

  font-size: 40px;
  line-height: 66px;
}

.title-small {
  margin: 0;

  font-size: 24px;
  line-height: 32px;
}

.description {
  margin: 0;

  font-size: 40px;
  line-height: 53px;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-bg {
  width: 100%;
  height: auto;
}

/* Header style */
.header-main {
  grid-area: header;

  padding: 0 74px 10px;
  padding-top: 45px;
}

.header-main .link {
  text-transform: uppercase;
}

.header-main .link-current {
  color: #f50049;
}

.nav-items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header-main .nav-items {
  gap: 30px;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.header-main .link {
  display: block;
  padding: 15px;
}

.header-main .logo {
  padding-left: 0;
}

.link-phone {
  font-weight: 700;
}

.header-main .link-phone {
  margin-left: auto;
  padding-right: 0;
}

/* Main style */
.main-page {
  grid-area: main;

  display: grid;
  align-content: start;
  grid-template-columns: 74px 1fr 74px;
  grid-template-areas:
    ". hero hero"
    ". works ."
    ". reviews ."
    "advantages advantages .";
}

/* Hero section style */
.hero {
  grid-area: hero;

  display: grid;
  grid-template-columns: 1fr auto;
}

.hero-content {
  width: 535px;
  padding: 130px 0;
}

.hero .image-container {
  width: 759px;
  min-height: 918px;
}


.hero .title-main {
  margin-bottom: 25px;
}

.hero .description {
  margin-bottom: 75px;

  font-style: italic;
}

.hero .link-button {
  min-width: 226px;
  margin-bottom: 100px;
}

.hero .list-pros {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1.5fr;

  font-size: 14px;
  line-height: 18px;
}

.list-pros span {
  display: flex;
  gap: 10px;
  align-items: center;
}

.list-pros span::before {
  align-self: flex-start;

  content: "";
  flex-shrink: 0;

  width: 55px;
  height: 55px;

  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  background-color: #f50049;
}

.list-pros .ingredients::before {
  mask-image: url("../images/icon-list.svg");
}

.list-pros .delivery::before {
  mask-image: url("../images/icon-box.svg");
}

/* Works style */
.works {
  grid-area: works;

  margin-top: -53px;
  margin-bottom: 100px;
}

.works .title-middle {
  max-width: 750px;
  margin-bottom: 55px;
}

.list-cards {
  display: grid;
  grid-template-columns: 696px 484px;
  gap: 43px 38px;
}

.list-cards .card {
  position: relative;
  display: flex;
  min-height: 305px;
  background-color: #ffffff;
}

.list-cards .card:nth-child(3n-2) {
  min-height: 653px;
  grid-row: span 2;
}

.list-cards .card:nth-last-child(2) {
  grid-row: span 1;
}

.list-cards .card:nth-child(3n-2):last-child {
  max-height: 653px;
  grid-column: span 2;
  grid-row: span 1;
}

.list-cards .card:only-child {
  max-height: 653px;
  grid-column: span 2;
  grid-row: span 1;
}

.card .wrapper-text {
  position: absolute;
  top: 30px;
  left: 35px;
}

.card img {
  display: block;

  width: 100%;
  height: auto;
  object-fit: contain;
}

.list-cards .link {
  position: absolute;
  bottom: 35px;
  right: 40px;

  display: flex;
  width: fit-content;
  align-items: center;
  gap: 15px;

  font-size: 18px;
  line-height: 24px;
}

.list-cards .link::after {
  flex-shrink: 0;

  content: "";

  width: 17px;
  height: 12px;

  background-color: #1e201d;
  mask-image: url("../images/icon-arrow.svg");
  mask-repeat: no-repeat;
  mask-position: center;
}

/* Reviews style */
.reviews {
  grid-area: reviews;

  margin-bottom: 115px;
}

.reviews .title-middle {
  margin-bottom: 50px;

  text-align: center;
}

.list-reviews {
  display: grid;
  gap: 50px;
  justify-items: center;
}

.list-reviews li {
  display: grid;
  gap: 65px;
  grid-template-columns: 210px 445px;
}

.list-reviews img {
  width: 100%;
  height: auto;
  padding-top: 8px;

  border-radius: 50%;

}

.list-reviews .wrapper-text {
  grid-column: 2 / 3;
}

.list-reviews .title-small {
  font-size: 27px;
  line-height: 36px;
}

.biography {
  display: block;

  font-size: 25px;
  line-height: 33px;
}

.list-reviews .biography {
  margin-bottom: 19px;
}

.review-text {
  margin: 0;
}

/* Advantages style */
.advantages {
  grid-area: advantages;

  display: flex;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.advantages .title-middle {
  width: 100%;
  box-sizing: border-box;
  padding-left: 74px;
  margin-bottom: 25px;

  text-align: center;
}

.advantages .description {
  width: 100%;
  box-sizing: border-box;
  padding-left: 520px;
  margin-bottom: 115px;

  font-size: 30px;
  font-style: italic;
  line-height: 40px;
}

.advantages .image-container {
  width: 556px;
  min-height: 622px;
  margin-top: -201px;
  margin-right: 66px;
}

.list-advantages {
  display: flex;
  flex-direction: column;
  gap: 50px;
  max-width: 670px;

}

.list-advantages .item-list {
  display: flex;
  gap: 20px;
}

.list-advantages .item-list::before {
  width: 55px;
  height: 55px;
  padding-top: 15px;
  flex-shrink: 0;

  content: "";
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center bottom;
}

.list-advantages .item-list-ingredients::before {
  background-color: #f50049;
  mask-image: url("../images/icon-list.svg");
}

.list-advantages h3 {
  margin: 0px;
  margin-bottom: 15px;

  font-size: 20px;
}

.list-advantages p {
  margin: 0px;
}
/* Footer style */
.footer-main {
  grid-area: footer;

  padding: 0 74px;
}
